<h1>Retirer de l'argent</h1>
<form action="/accounts/<%= @account["num_account"] %>/withdraw" method="post" class="bg-white p-6 rounded-lg shadow-md">
  <div class="mb-4">
    <label for="amount" class="block text-sm font-medium text-gray-700">Montant de retrait</label>
    <input type="number" min="0" name="amount" id="amount" required
      class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
  </div>
  <button type="submit" class="py-2 px-4 bg-blue-600 text-white font-bold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
    valider
  </button>
</form>
